---
title: Home
layout: stock
---

<h1>Blog Posts</h1>

{% for post in paginator.posts %}
<h2> <a href={{post.url}}>{{ post.title }}</a></h2>
  <p>
  <small>{{post.date | date: "%Y-%m-%d"}}</small>
  {{ post.excerpt }}
  </p>
{% endfor %}

<!-- page links. -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">⇚</a>
  {% else %}
    <span class="previous">⇚</span>
  {% endif %}
  <span class="page_number ">Page {{ paginator.page }} / {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">⇛</a>
  {% else %}
    <span class="next ">⇛</span>
  {% endif %}
</div>
